<!DOCTYPE html>
<html>
<head>
    <title>LLMCoderServer {{ current_folder }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='LLMCoderServer.css') }}">
</head>
<body>
    <div class="container">
        <h1>LLMCoderServer {{ current_folder }}</h1>
        <table class="file-table">
            <thead>
                <tr>
                    <th>Sync</th>
                    <th>Line number</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
            {% for file, should_sync, should_add_line_numbers in files %}
                <tr class="file-item">
                    <td><input type="checkbox" class="sync-checkbox" {% if should_sync %}checked{% endif %}></td>
                    <td><input type="checkbox" class="linenumber-checkbox" {% if should_add_line_numbers %}checked{% endif %}></td>
                    <td>{{ file }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>