<!DOCTYPE html>
<html>
<head>
    <title>LLMCoderServer {{ current_folder }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='LLMCoderServer.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="header">
        <h1>LLMCoderServer</h1>
        <span class="current-folder">{{ current_folder }}</span>
        <a href="https://github.com/ChrisTorng/LLMCoderSync" target="_blank" class="github-icon"><i class="fab fa-github"></i></a>
    </div>
    <div class="container">
        <div class="file-list">
            <table class="file-table">
            <thead>
                <tr>
                    <th>Sync</th>
                    <th>Line number</th>
                    <th>File</th>
                    <th><button id="syncAllButton">Sync All</button></th>
                </tr>
            </thead>
            <tbody>
            {% for file, should_sync, should_add_line_numbers in files %}
                <tr class="file-item">
                    <td><input type="checkbox" class="sync-checkbox" {% if should_sync %}checked{% endif %}></td>
                    <td><input type="checkbox" class="linenumber-checkbox" {% if should_add_line_numbers %}checked{% endif %}></td>
                    <td class="file-path">{{ file }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="output-container">
            <h2>Sync Output</h2>
            <pre id="syncOutput"></pre>
        </div>
    </div>
    <script src="{{ url_for('static', filename='LLMCoderServer.js') }}"></script>
</body>
</html>