body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #d4d4d4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2d2d2d;
}

h1 {
    color: #d4d4d4;
    margin: 0;
    font-size: 24px;
}

.current-folder {
    font-size: 14px;
    color: #a0a0a0;
}

.github-icon {
    color: #d4d4d4;
    font-size: 24px;
    text-decoration: none;
}

.container {
    flex-grow: 1;
    overflow: hidden;
    padding: 20px;
}

.file-table {
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
    display: block;
    height: calc(100vh - 100px);
}

.file-table th, .file-table td {
    padding: 5px;
    text-align: left;
}

.file-table th {
    background-color: #2d2d2d;
    font-weight: bold;
    position: sticky;
    top: 0;
}

.file-table tr:hover {
    background-color: #2a2a2a;
}

.check-column {
    width: 100px;
}

.file-column {
    width: auto;
}

.sync-checkbox, .linenumber-checkbox {
    margin: 0;
    padding: 0;
}

.file-path {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}